h3 Portfolio

table.u-full-width
  thead
    tr
      th Project Name
      th Language(s)
      th Link to Repository
  tbody
  each proj in contents['portfolio.json'].metadata
    tr
      td=proj.name
      td=proj.language
      td
        a(href=proj.url) Link
