h3 Work Experiences

table.u-full-width
  thead
    tr
      th Start Date
      th End Date
      th Description
  tbody
  each item in contents['work.json'].metadata
    tr
      td= item.start
      td= item.end
      td= item.description
